<nav class="navbar">
    <a class="navbar-brand">Node.js Blog</a>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
    </ul>
</nav>