<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <h2><%= blog.title %></h2>
            <p><%= blog.snippet %></p>
            <p><%= blog.body %></p>
            <p><%= blog.author %></p>
        <% }) %>
    <% } %>
    
</body>
</html>