<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>

    <div class="blogList">
        <div class="blogCard">
            <h3>Hello Blog</h3>
            <p>Nice 2 Meet You</p>
            <small>HIII</small>
        </div>
    </div>
    
</body>
</html>