<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand">Node.js Blog</a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">Blogs</a></li>
        </ul>
    </nav>

    <div class="blogList">
        <div class="blogCard">
            <h3>Blog Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium expedita eos laudantium doloremque ipsam dolor ipsa adipisci architecto labore assumenda.</p>
            <small>Author: Value Here</small>
        </div>
    </div>
    
</body>
</html>