<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post New Blog</title>
</head>
<body>
    <form action="/blogs" method="POST">
        <label for="title">Blog Title: </label>
        <input type="text" id="title" name="title" required>
    
        <label for="title">Snippet </label>
        <input type="text" id="snippet" name="snippet" required>
    
        <label for="title">Body </label>
        <input type="text" id="body" name="body" required>
    
        <label for="title">Author </label>
        <input type="text" id="author" name="author" required>
    
        <button>Submit</button>
    </form>
    
</body>
</html>